
.chat,.chat .chat-header img,.room,.room .room-header img,.users-list,.users-list .about,.users-list img {
	float: left;
	float: left;
	float: left;
}

.chat,.form,.room {
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,.24);
}

*,.form input,:after,:before {
	box-sizing: border-box;
	box-sizing: border-box;
}

.form,.rooms {
	z-index: 1;
	max-width: 400px;
}

.controls a,.form .message a,.room .room-list a {
	text-decoration: none;
	text-decoration: none;
}

html {
	height: 100%;
	overflow: hidden;
	display: block;
	margin: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
	overflow: hidden;
	display: block;
}

body {
	-moz-transition: -moz-transform 325ms ease-in-out,-moz-filter 325ms ease-in-out;
	-webkit-transition: -webkit-transform 325ms ease-in-out,-webkit-filter 325ms ease-in-out;
	-ms-transition: -ms-transform 325ms ease-in-out,-ms-filter 325ms ease-in-out;
	transition: transform 325ms ease-in-out,filter 325ms ease-in-out;
	background-image: url(../img/bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: repeat;
	z-index: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-backface-visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100vh;
	-moz-transition: -moz-transform 325ms ease-in-out,-moz-filter 325ms ease-in-out;
	-webkit-transition: -webkit-transform 325ms ease-in-out,-webkit-filter 325ms ease-in-out;
	-ms-transition: -ms-transform 325ms ease-in-out,-ms-filter 325ms ease-in-out;
	transition: transform 325ms ease-in-out,filter 325ms ease-in-out;
	background-size: cover;
	z-index: 1;
	background: #C5DDEB;
	font-family: Arimo,sans-serif;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
}

.container {
	margin: 2% auto;
	width: 760px;
	background: #444753;
	overflow: hidden;
	width: 40%;
	background: #444753;
	overflow: hidden;
	width: 40%;
	background: #444753;
}

.users-list {
	width: 270px;
}

.users-list .search {
	padding: 20px;
	padding: 5px;
	padding: 5px;
}

.users-list input {
	border-radius: 3px;
	border: none;
	padding: 14px;
	color: #fff;
	background: #6A6C75;
	width: 90%;
	font-size: 14px;
	border-radius: 3px;
	border: none;
	padding: 14px;
	color: #fff;
	background: #6A6C75;
	width: 90%;
	font-size: 14px;
	border-radius: 3px;
	border: none;
	padding: 14px;
	color: #fff;
	background: #6A6C75;
	width: 90%;
	font-size: 14px;
}

.users-list .fa-search {
	position: relative;
	left: -25px;
	position: relative;
	left: -25px;
	position: relative;
	left: -25px;
}

.users-list ul {
	padding: 20px;
	max-height: 770px;
	overflow-y: scroll;
	padding: 5px;
	max-height: 300px;
	padding: 5px;
	max-height: 300px;
	display: inline-block;
}

.users-list ul li {
	padding-bottom: 20px;
	padding-bottom: 10px;
	padding-bottom: 10px;
}

.users-list .about {
	margin-top: 8px;
	padding-left: 8px;
	margin-top: 8px;
	padding-left: 8px;
	padding-left: 8px;
	width: 100%;
}

.users-list .status {
	color: #92959E;
	color: #92959E;
	color: #92959E;
}

.chat,.room {
	width: 290px;
	background: #F2F5F8;
	color: #434651;
	max-width: 20%;
	background: #F2F5F8;
	color: #434651;
	height: 100vh;
	max-width: 20%;
	background: #F2F5F8;
	color: #262830;
	height: 100vh;
}

.chat .chat-header,.room .room-header {
	padding: 20px;
	border-bottom: 2px solid #fff;
}

.chat .chat-header .chat-about,.room .room-header .room-about {
	float: left;
	padding-left: 10px;
	margin-top: 6px;
	float: left;
	margin-top: 6px;
	float: left;
	margin-top: 6px;
}

.chat .chat-header .chat-room,.room .room-header .room-title {
	font-weight: 700;
	font-size: 14px;
	font-weight: 700;
	font-size: 16px;
	font-weight: 700;
	font-size: 28px;
	align-content: center;
}

.chat .chat-header .chat-num-users,.room .room-header .room-num-rooms {
	color: #92959E;
	color: #92959E;
	color: #92959E;
}

.fa-th-list,.fa-users {
	float: right;
	color: #D8DADF;
	font-size: 14px;
	margin-top: 12px;
	float: right;
	color: #D8DADF;
	font-size: 20px;
	margin-top: 12px;
	float: right;
	color: #D8DADF;
	font-size: 20px;
	margin-top: 12px;
}

.chat .chat-history,.room .room-list {
	border-bottom: 2px solid #fff;
	overflow-y: scroll;
	max-height: 50vh;
	overflow-y: scroll;
	max-height: 50vh;
	overflow-y: scroll;
	max-height: 50vh;
}

.chat .chat-history .message-data {
	margin-bottom: 15px;
	margin-bottom: 15px;
	margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
	color: #a8aab1;
	padding-left: 6px;
	font-size: 80%;
	color: #a8aab1;
	padding-left: 6px;
	font-size: 80%;
	color: #a8aab1;
	padding-left: 6px;
	font-size: 80%;
}

.chat .chat-history .message {
	color: #fff;
	padding: 18px 20px;
	line-height: 26px;
	font-size: 14px;
	margin-bottom: 30px;
	position: relative;
	color: #fff;
	padding: 8px 10px;
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 10px;
	position: relative;
	color: #fff;
	padding: 6px;
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 10px;
	position: relative;
}

.chat .chat-message textarea,.form input,.me,.offline,.online,.room .room-create input {
	font: 14px/22px Roboto,Arial,sans-serif;
}

.chat .chat-history .message:after {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #86BB71;
	border-width: 10px;
	margin-left: -10px;
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #86BB71;
	border-width: 10px;
	margin-left: -10px;
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #86BB71;
	border-width: 10px;
	margin-left: -10px;
}

.chat .chat-history .my-message {
	background: #86BB71;
	text-align: initial;
	background: #86BB71;
	text-align: initial;
	background: #86BB71;
}

.chat .chat-message,.room .room-create {
	padding: 20px;
	padding: 5px;
	padding: 5px;
}

.chat .chat-message textarea,.room .room-create input {
	width: 100%;
	border: none;
	padding: 10px 20px;
	margin-bottom: 10px;
	resize: none;
	width: 100%;
	border: none;
	padding: 10px 20px;
	font: 14px/22px Roboto,Arial,sans-serif;
	margin-bottom: 10px;
	resize: none;
	width: 100%;
	border: none;
	padding: 10px 20px;
	font: 14px/22px Roboto,Arial,sans-serif;
	margin-bottom: 10px;
	resize: none;
}

.me,.offline,.online {
	margin-right: 3px;
	margin-right: 3px;
	font-size: 10px;
}

.online {
	color: #86BB71;
	color: #86BB71;
	color: #86BB71;
}

.offline {
	color: #E38968;
	color: #E38968;
	color: #E38968;
}

.me {
	color: #94C2ED;
	color: #94C2ED;
	color: #94C2ED;
}

.align-left {
	text-align: left;
	text-align: left;
	text-align: left;
}

.align-right {
	text-align: right;
	text-align: right;
	text-align: right;
}

.form,.room .room-list .room-item,.rooms {
	position: relative;
	text-align: center;
}

.float-right {
	float: right;
	float: right;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.login-page {
	width: 400px;
	padding: 8% 0 0;
	margin: auto;
	width: 400px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	background: #FFF;
	margin: 0 auto 100px;
	padding: 45px;
	background-color: #F2F5F8;
	z-index: 1;
	background: #FFF;
	max-width: 400px;
	margin: 0 auto 100px;
	padding: 45px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,.24);
	background-color: #F2F5F8;
	background-color: #F2F5F8;
}

.form button,.form input {
	outline: 0;
	width: 100%;
	padding: 15px;
	border: 0;
	font-family: Roboto,sans-serif;
	outline: 0;
	width: 100%;
	padding: 15px;
	border: 0;
}

.form input {
	background: #f2f2f2;
	margin: 0 0 15px;
	font-size: 14px;
	background-color: #fff;
	background: #f2f2f2;
	margin: 0 0 15px;
	font-size: 12px;
	background-color: #fff;
	background-color: #fff;
}

.form button {
	font: 14px/22px Roboto,Arial,sans-serif;
	text-transform: uppercase;
	background: #86BB71;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	background: #86BB71;
	color: #FFF;
	font-size: 14px;
	-webkit-transition: all .3 ease;
	transition: all .3 ease;
	cursor: pointer;
}

.form button:active,.form button:focus,.form button:hover {
	background: #89c771;
	background: #89c771;
}

.form .message,.room-create .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #86BB71;
	color: #86BB71;
}

.form .register-form {
	display: none;
	display: none;
}

ul {
	list-style: none;
	list-style: none;
	list-style: none;
	width: 100%;
}

.chat-history ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.chat-message button,.controls a,.right-corner-controls a,.room-create button {
	font-family: Roboto,sans-serif;
	float: right;
	text-transform: uppercase;
	outline: 0;
	cursor: pointer;
	font-family: Roboto,sans-serif;
	float: right;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	color: #FFF;
	cursor: pointer;
}

.room .room-list .room-item {
	color: #fff;
	padding: 12px 14px;
	line-height: 16px;
	font-size: 14px;
	border-radius: 7px;
	margin-bottom: 10px;
	width: 90%;
	cursor: pointer;
	background: #86BB71;
	color: #fff;
	padding: 12px 14px;
	line-height: 16px;
	font-size: 14px;
	border-radius: 7px;
	margin-bottom: 10px;
	width: 90%;
	cursor: pointer;
	background: #86BB71;
	color: #fff;
	padding: 12px 14px;
	line-height: 26px;
	font-size: 20px;
	border-radius: 7px;
	margin-bottom: 10px;
	width: 90%;
	position: relative;
	cursor: pointer;
	text-align: center;
	background: #86BB71;
}

.rooms {
	margin: 0 auto 100px;
	padding: 45px;
}

.users-list .name {
	color: #fff;
	color: rgba(59,53,58,.49);
	color: rgba(59,53,58,.49);
	display: inline-flex;
}

.loginBtn {
	width: 80%;
	width: 80%;
}

.form-line {
	position: absolute;
	left: 0;
	width: 360px;
	margin-top: 2px;
	border-bottom: 2px solid #fff;
	position: absolute;
	left: 0;
	width: 360px;
	margin-top: 2px;
	border-bottom: 2px solid #fff;
}

.social-buttons div span {
	font-weight: 700;
	font-weight: 700;
}

.chat-message button,.controls a,.room-create button {
	background: #86BB71;
	border: 0;
	padding: 15px;
	color: #FFF;
	font-size: 14px;
	background: #86BB71;
	padding: 15px;
	font-size: 14px;
	-webkit-transition: all .3 ease;
	transition: all .3 ease;
}

a.rooms-btn:active,a.rooms-btn:focus,a.rooms-btn:hover,button:active,button:focus,button:hover {
	background: #89c771;
	background: #89c771;
	background: #89c771;
}

.chat-header img,.users-list li img {
	width: 60px;
	height: 60px;
	border: 3px solid #676c75;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid #676c75;
	border-radius: 20%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid #676c75;
	border-radius: 20%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.message.error {
	color: red;
	color: red;
	color: red;
}

.message.success {
	color: #86BB71;
	color: #86BB71;
	color: #86BB71;
}

.chat,.users-list {
	padding-bottom: 500em;
	margin-bottom: -500em;
	width: 100%;
}

.not-found-error {
	padding: 5%;
	background-color: #fff;
	padding: 5%;
	background-color: #fff;
}

.right-corner-controls a {
	text-decoration: none;
	background: #86BB71;
	border: 0;
	padding: 8px;
	color: #FFF;
	font-size: 10px;
	margin: 0;
	text-decoration: none;
	background: #86BB71;
	padding: 8px;
	font-size: 10px;
	-webkit-transition: all .3 ease;
	transition: all .3 ease;
	width: 30%;
	margin: 0;
	text-decoration: none;
	font-family: Roboto,sans-serif;
	float: right;
	text-transform: uppercase;
	outline: 0;
	background: #86BB71;
	border: 0;
	padding: 8px;
	color: #FFF;
	font-size: 10px;
	cursor: pointer;
	margin: 0;
}

.right-corner-controls {
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	margin: inherit;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	margin: inherit;
	text-align: center;
}

a.logout-btn {
	background-color: #e2625c;
	background-color: #e2625c;
	background-color: #e2625c;
}

a.code-btn {
	background-color: #45a8e2;
	margin-left: 2px;
	background-color: #45a8e2;
	background-color: #45a8e2;
	margin-left: 2px;
}

a.logout-btn:active,a.logout-btn:focus,a.logout-btn:hover {
	background-color: #f56a63;
	background-color: #f56a63;
	background-color: #f56a63;
}

.controls {
	width: 270px;
	float: left;
	margin: 0;
	text-align: center;
	border-bottom: 2px solid #fff;
	width: 270px;
	border-bottom: 2px solid #fff;
	width: 270px;
	float: left;
	margin: 0;
	text-align: center;
	border-bottom: 2px solid #fff;
}

.controls a {
	width: 100%;
	margin: 0;
	width: 50%;
	margin: 0;
	width: 50%;
	margin: 0;
}

#editor,canvas {
	position: absolute;
	position: absolute;
}

#editor,body {
	left: 0;
	top: 0;
}

body,body:after {
	background-image: url(../img/bg.png);
	background-position: center;
	background-repeat: repeat;
}

body:before {
	-moz-transition: background-color 2.5s ease-in-out;
	-webkit-transition: background-color 2.5s ease-in-out;
	-ms-transition: background-color 2.5s ease-in-out;
	transition: background-color 2.5s ease-in-out;
	-moz-transition-delay: .75s;
	-webkit-transition-delay: .75s;
	-ms-transition-delay: .75s;
	transition-delay: .75s;
	background-image: linear-gradient(to top,rgba(19,21,25,.5),rgba(19,21,25,.5)),url(../img/overlay.png);
	background-size: auto,256px 256px;
	background-position: center,center;
	background-repeat: no-repeat,repeat;
	z-index: 2;
}

body:after {
	-moz-transition: -moz-transform 325ms ease-in-out,-moz-filter 325ms ease-in-out;
	-webkit-transition: -webkit-transform 325ms ease-in-out,-webkit-filter 325ms ease-in-out;
	-ms-transition: -ms-transform 325ms ease-in-out,-ms-filter 325ms ease-in-out;
	transition: transform 325ms ease-in-out,filter 325ms ease-in-out;
	background-size: auto;
	z-index: 1;
}

canvas {
	max-width: 90%;
	max-height: 100%;
	width: 90%;
	max-width: 90%;
	max-height: 100%;
	width: 90%;
}

#draggable {
	width: 600px;
	height: 450px;
	padding: .5em;
	width: 600px;
	height: 450px;
	padding: .5em;
}

#editor {
	right: 0;
	bottom: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.whiteboard-container {
	display: inline-block;
	margin: 10px;
	display: inline-block;
	margin: 10px;
}

colors {
	position: relative;
	position: relative;
}

.color {
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 50%;
}

.color.black {
	background-color: #000;
	background-color: #000;
}

.color.red {
	background-color: red;
	background-color: red;
}

.color.green {
	background-color: green;
	background-color: green;
}

.color.blue {
	background-color: #00f;
	background-color: #00f;
}

.color.yellow {
	background-color: #ff0;
	background-color: #ff0;
}

.color.white {
	background-color: #fff;
	background-color: #fff;
}

.chat .chat-header,.chat .chat-history,.room .room-header,.room .room-list {
	padding: 5px;
	border-bottom: 2px solid #fff;
	padding: 5px;
	border-bottom: 2px solid #fff;
}

.form,.room .room-list .room-item {
	position: relative;
	text-align: center;
}

a.code-btn:active,a.code-btn:focus,a.code-btn:hover {
	background: #0090c7;
	background: #0090c7;
}

.controls,.right-corner-controls {
	float: left;
	text-align: center;
	margin: 0;
}

.chat-header-big img {
	width: 30px;
	height: 30px;
	border: 1px solid #676c75;
	border-radius: 20%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 1px solid #676c75;
	border-radius: 20%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

body,html {
	margin: 0;
	height: 100%;
}

.controls a,.room .room-list a {
	text-decoration: none;
}

*,:after,:before {
	box-sizing: border-box;
}

.chat-room {
	font-weight: 700;
	font-size: 28px;
	align-content: center;
	margin: 5px;
}

input[type=radio] {
	width: 20px;
	margin: 0;
	padding: 0;
}
