

*, *:before, *:after {
    box-sizing: border-box;
}



body {

    -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
    
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(250, 250, 250, 0.979), 
      rgba(44, 44, 44, 0.45)
    ),
    /* bottom, image */
    url("../img/bg.png");
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    z-index: 1;
}

html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    /*position: relative;*/
    /*max-width: 99vh;*/
    /*max-height:  99vh;*/
    /*max-height: 95vh;*/
    /*max-width: 95vh;*/
}

canvas {
    position: absolute;
    max-width: 90%;
    max-height: 100%;
    width: 90%;
}

#draggable {
    width: 600px;
    height: 450px;
    padding: 0.5em;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.whiteboard-container {
    display: inline-block;
    margin: 10px;
    /*border: 3px solid #73AD21;*/
}

colors {
    position: relative;
}

.color {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

.color.white {
    background-color: #ffffff;
}

.container {
    /*margin: 2% auto;*/
    width: 40%;
    background: #444753;
}

.users-list {

    float: left;
}

.users-list .search {
    padding: 5px;
}

.users-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.users-list .fa-search {
    position: relative;
    left: -25px;
}

.users-list ul {
    padding: 5px;
    max-height: 300px;
    /*min-height: 10px;*/
}

.users-list ul li {
    padding-bottom: 10px;
}

.users-list img {
    float: left;
}

.users-list .about {
    float: left;
    margin-top: 8px;
}

.users-list .about {
    padding-left: 8px;
}

.users-list .status {
    color: #92959E;
}

.chat, .room {
    /*width: 490px;*/
    max-width: 20%;
    float: left;
    background: #F2F5F8;
    color: #434651;
    height: 100vh;

}

.chat .chat-header, .room .room-header {
    padding: 5px;
    border-bottom: 2px solid white;
}

.chat .chat-header img, .room .room-header img {
    float: left;
}

.chat .chat-header .chat-about, .room .room-header .room-about {
    float: left;
    /*padding-left: 10px;*/
    margin-top: 6px;
}

.chat .chat-header .chat-room, .room .room-header .room-title {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-users, .room .room-header .room-num-rooms {
    color: #92959E;
}

.fa-users, .fa-th-list {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history, .room .room-list {
    padding: 5px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    max-height: 50vh;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 80%;
}

.chat .chat-history .message {
    color: white;
    padding: 8px 10px;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 10px;
    /*width: 90%;*/
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ce7e7c;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #ce7e7c;
}

.chat .chat-message, .room .room-create {
    padding: 5px;
}

.chat .chat-message textarea, .room .room-create input {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Roboto", Arial, sans-serif;
    margin-bottom: 10px;
    resize: none;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #ce7e7c;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*  Login Page */
.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ce7e7c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #973f3d;
}

.form .message, .room-create .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #ce7e7c;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

/* ****** Edits ****** */
ul {
    list-style: none;
}

.chat-history ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.room .room-list .room-item {
    color: white;
    padding: 12px 14px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 90%;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.room .room-list .room-item {
    background: #ce7e7c;
}

.room .room-list a {
    text-decoration: none;
}

.users-list .name {
    color: rgba(59, 53, 58, 0.49);
}

.users-list ul {
    /*overflow-y: scroll;*/
}


.form {
    background-color: #F2F5F8;
}

.form input {
    background-color: white;
}

.form-line {
    position: absolute;
    left: 0px;
    width: 360px;
    margin-top: 2px;
    border-bottom: 2px solid white;
}

.social-buttons div span {
    font-weight: bold;
}

.chat-message button, .room-create button, .controls a {
    font-family: "Roboto", sans-serif;
    float: right;

    text-transform: uppercase;
    outline: 0;
    background: #ce7e7c;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    background: #973f3d;
}

a.rooms-btn:hover, a.rooms-btn:active, a.rooms-btn:focus {
    background: #973f3d;
}

a.code-btn:hover, a.code-btn:active, a.code-btn:focus {
    background: #0090c7;
}

.right-corner-controls {
    position: absolute;
    top: 0px;
    right: 0px;
}

.right-corner-controls a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    float: right;

    text-transform: uppercase;
    outline: 0;
    background: #ce7e7c;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.right-corner-controls {
    /*width: 270px;*/
    float: left;
    margin: 0;
    text-align: center;

}

.right-corner-controls a {
    width: 30%;
    margin: 0;
}

a.logout-btn {
    background-color: rgb(226, 98, 92);
}

a.code-btn {
    background-color: rgb(69, 168, 226);
}

a.logout-btn:hover, a.logout-btn:active, a.logout-btn:focus {
    background-color: rgb(245, 106, 99);
}

.controls {
    width: 270px;
    float: left;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid white;
}

.controls a {
    width: 50%;
    margin: 0;
}

.chat-header-big img {
    width: 30px;
    height: 30px;
    border: 1px solid #676c75;
    border-radius: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.users-list li img, .chat-header img {
    width: 20px;
    height: 20px;
    border: 1px solid #676c75;
    border-radius: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.controls a {
    text-decoration: none;
}

.message.error {
    color: red;
}

.message.success {
    color: #ce7e7c;
}

.container {
    overflow: hidden;
}

.chat, .users-list {
    /*padding-bottom: 500em;*/
    /*margin-bottom: -500em;*/
}

.not-found-error {
    padding: 5%;
    background-color: white;
}

.chat .chat-history .my-message {
    text-align: initial;
}


.loginBtn:hover{
	background:  url("../img/googleLoginBtnF.png");
background-repeat: no-repeat;
width: auto; /*or your image's width*/
height: auto; /*or your image's height  src="img/googleLoginBtn.png"  */
margin: 0;
padding: 0;
}

.loginBtn {
background-image: url("../img/googleLoginBtn.png");
background-repeat: no-repeat;
width: auto; /*or your image's width*/
height: auto; /*or your image's height    */
margin: 0;
padding: 0;
}
