<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89656176-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'UA-89656176-3');
</script>

<meta charset="UTF-8">
<title>cleverpack</title>
<link rel="stylesheet" href="/css/style_old.css">
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>

<body>
<script src='/js/jquery.min.js'></script>
<script>
$("body").css("display", "none");
$(document).ready(function () {
// to fade in on page load
$("body").fadeIn(800);
// to fade out before redirect
$('a').click(function (e) {
redirect = $(this).attr('href');
e.preventDefault();
$('body').fadeOut(800, function () {
document.location.href = redirect
});
});
})
</script>
<div class=" clearfix">
<div class="right-corner-controls">
<div class="colors">

<a href="/logout" class="logout-btn">Logout</a>

</div>
</div>
<div class="rooms">


<div class="room" style="width: 100%;">
<div class="room-header clearfix">
<div class="room-about">
<div class="room-title">Rooms</div>
<div class="room-num-rooms">
<%= rooms.length %> Room(s)</div>
</div>
<i class="fa fa-th-list"></i>
</div>
<!-- end room-header -->

<div class="room-create clearfix" style="border-bottom: 2px solid white;">
<input type="text" name="title" autofocus placeholder="Type a new room">
<button>Create</button>
</div>
<!-- end room-create -->

<div class="room-list">
<ul>
<% if(rooms.length > 0) { %>
<% rooms.forEach(function(room) { %>
<a href="/chat/<%= room.id %>">
<li class="room-item">
<%= room.title %>
</li>
</a>
<% }); %>
<% } else { %>
<p class="message"Create your first room!</p>
<% } %>
</ul>
</div>
<!-- end room-list -->
</div>
<!-- end room -->
</div>
</div>
<!-- end container -->
<!-- <script src='/js/jquery.min.js'></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script>

$(function () {
app.rooms()
});
</script>
</body>

</html>